{% extends "base/3-col-template.html" %}

{% block content_left %}
{% include "base/navbar-secondary.html" %}
{% endblock content_left %}

{% block content_mid %}
<div class="mx-auto" style="max-width: 683px;">
    <h1 class="fs-1 fw-bold pb-5">{{request.args.search_text}}
        {% if feeds %}
        <span class="text-muted">에 대한 검색 결과입니다.</span>
        {% else %}
        <span class="text-muted">에 대한 검색 결과가 없습니다.</span>
        {% endif %}
    </h1>

    <div class id="search-results">
        {% include "main/components/feed-list-elements-search.html" %}
    </div>
</div>
{% endblock content_mid %}

{% block search_form %}
<!--<form class="d-flex col-12  pb-5" role="search" action="{{url_for('main.feed_search') }}">-->
<form class="d-flex col-12  pb-5" role="search">
    <input class="form-control rounded-pill" type="search" placeholder="Live Search" aria-label="search"
           name="search_text"
           value="{{ request.args.search_text or '' }}"
           hx-get="{{ url_for('main.feed_search')}}"
           hx-trigger="keyup changed delay:250ms"
           hx-push-url="true"
           hx-target="#search-results"
           hx-swap="innerHTML"
    >
</form>
{% endblock search_form %}

{% block content_right %}
{% include "main/components/category-cloud.html" %}
{% include "base/footer.html" %}
{% endblock content_right %}

