@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap');

@font-face {
    font-family: 'HallymR';
    src: url('../fonts/HallymR.eot');
    src: url('../fonts/HallymR.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HallymR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-family: 'Archivo', sans-serif;
    letter-spacing: -1.5px;
}

html, body {
    font-family: "HallymR", sans-serif;
}

.fw-600 {
    font-weight: 600;
}

.fs-12 {
    font-size: 0.75rem;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-15 {
    font-size: 0.938rem;
}

.infScroll-title {
    font-size: 22px;
    letter-spacing: -0.6px;
}


@media only screen and (max-width: 768px) {
    .infScroll-title {
        font-size: 0.9375rem;
        letter-spacing: -0.0px;
    }

    .infScroll-category,
    .infScroll-date {
        font-size: 0.8125rem;
    }
}

