<style>
     .footer .nav-link{
        padding: 0 10px 5px 0;
    }
     .footer a {
         color: inherit;
     }
</style>

<footer>
    <ul class="nav text-muted fw-600 fs-12 footer">
        <li class="nav-item"><a href="" class="nav-link">푸터1</a></li>
        <li class="nav-item"><a href="" class="nav-link">푸터2</a></li>
        <li class="nav-item"><a href="" class="nav-link">푸터3</a></li>
        <li class="nav-item"><a href="" class="nav-link">푸터4</a></li>
        <li class="nav-item"><a href="" class="nav-link">푸터5</a></li>
        <li class="nav-item"><a href="" class="nav-link">푸터6</a></li>
    </ul>
</footer>