<style>
    #sm-logo-out {
        position: relative;
        top: 50%;
        background: #000;
        width: 38px;
        height: 38px;
    }

    #sm-logo-in {
        position: relative;
        top: 18%;
        left: 50%;
        background: #fff;
        width: 12px;
        height: 12px;
    }

    @media only screen and (max-width: 768px) {
        .container, .container-sm {
            max-width: 100%;
        }
    }
</style>

<nav class="navbar navbar-expand-lg align-items-start sticky-top py-1 pt-lg-4">
    <div class="container-md sticky-top py-2 px-4 px-lg-0">
        <a href="/" class="navbar-brand m-0">
            <div id="sm-logo-out">
                <div id="sm-logo-in">

                </div>
            </div>
        </a>
    </div>
</nav>